<h1>Burgers</h1>

<h2>EAT ME!</h2>
<p><strong>Burgers that Need to be Eaten!</strong></h2>

<ul>
  {{#each burger}}
    {{#unless eaten}}
      {{this.name}}
      <button id= "notEaten" name={{this.id}}>Devour</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>!</h2>

<ul>
  {{#each burger}}
    {{#if eaten}}
      {{this.name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Burgers No More</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Devour?</label><br>
    <input type="radio" name="devour" value="1" checked> DEVOUR!<br>
    {{!-- <input type="radio" name="devour" value="0"> Eaten --}}
  </div>

  <button type="submit">Add a Burger</button>
</form>
